* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
}
.home-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
.add-btn {
    color: #03ca03;
    border: 2px solid #03ca03 ;
    width: fit-content;
    padding: 5px 9px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    border-radius: 6px;
    transition: 0.3s;
}
.add-btn:hover {
    color: #fff;
    background-color: #03ca03;
}
.home-table {
    width: 100%;
    margin-top: 25px;
    border-spacing: 7px;
    
}
.t-head {
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    padding: 3px 6px;
}

.loading-container {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.create-container {
    padding: 30px;
}
.back-btn {
    margin-bottom: 15px;
    background-color: #3367eb;
    color: #fff;
    padding: 3px 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    transition: 0.3s;
}
.back-btn:hover {
    background-color: #1740a5;
}
.create-content {
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    border: 2px solid #6991f7;
    padding: 30px 15px;
    width: 450px;
    height: 360px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    color: rgb(90, 90, 90);
}
.input {
    padding: 6px;
}
.save-btn {
    padding: 7px;
    margin: 0 20px;
    border: none;
    background-color: #3367eb;
    color: #fff;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;
}
.save-btn:hover {
    background-color: #1740a5;
}
.icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.info-icon {
    font-size: 20px;
    color: #03ca03;
}
.edit-icon {
    font-size: 20px;
    color: rgb(232, 232, 75);
}
.delete-icon {
    font-size: 20px;
    color: rgb(216, 98, 98);
}
.model-icon {
    font-size: 20px;
    color: #051c55;
}

.sinsle-container {
    padding: 30px;
}
.single-content {
    margin-top: 25px;
    border: 2px solid #6991f7;
    width: 650px;
    padding: 15px;
    border-radius: 8px;
}
.book-info {
    margin-bottom: 30px;
    font-size: 18px;
    color: rgb(82, 82, 82);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}
.info {
    margin-left: 10px;
    color: black;
}

.delete-container {
    padding: 30px;
}
.delete-content {
    margin: 60px auto;
    text-align: center;
    border: 2px solid #6991f7;
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.alert {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}
.delete-btn {
    background-color: rgb(254, 85, 85);    border: none;
    padding: 10px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}
.delete-btn:hover {
    background-color: rgb(246, 63, 63);
}

.style-btns-container {
    width: 100%;
    text-align: center;
    margin-top: 25px;
}
.table-btn {
    background-color: #6991f7;
    border: none;
    padding: 5px 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.table-btn:hover {
    background-color: #1740a5;
}
.card-btn {
    background-color: #6991f7;
    border: none;
    padding: 5px 13px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.card-btn:hover {
    background-color: #1740a5;
}
.table-btn {
    background-color: #6991f7;
    border: none;
    padding: 5px 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.table-btn:hover {
    background-color: #1740a5;
}

.article-container {
    position: relative;
    border: 2px solid rgb(84, 84, 84);
    min-width: 400px;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    border-radius: 15px;
}
.article-year {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ffa6e1;
    padding: 5px 8px;
    border-radius: 10px;
}
.article-id {
    color: gray;
    margin-top: 4px;
}
.article-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.title-icon {
    font-size: 25px;
    color: #ffa6e1;
}
.article-author {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}
.user-icon {
    font-size: 25px;
    color: #ffa6e1;
}
.article-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}
.cards-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(400px,1fr)) ;
    gap: 25px;
}
.overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    inset: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-container {
    position: relative;
    background-color: #fff;
    width: 500px;
    padding: 20px;
    border-radius: 15px;
}
.close-btn {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 91, 91);
    cursor: pointer;
}

.modal-year {
    background-color: #ffa6e1;
    padding: 5px 8px;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 15px;
}
.summary {
    margin: 20px 0 10px 0;
    font-size: 21px;
}
.text {
    line-height: 35px;
}